---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Grid from "../components/Grid.astro";
import Row from "../components/Row.astro";
---

<Layout
  title="Contact - Jonas Nicolaysen"
  description="Ways to contact me"
>
  <Card title="contact">
    <Grid>
      <Row>
        <span style="color: var(--theme-text);">$ cat contact.txt</span>
      </Row>
      <Row>
        GitHub: <a
          href="https://github.com/jonasnico"
          target="_blank"
          style="color: var(--theme-focused-foreground); text-decoration: none;"
          >github.com/jonasnico</a
        >
      </Row>
      <Row>
        LinkedIn: <a
          href="https://linkedin.com/in/jonas-nicolaysen-66967611a"
          target="_blank"
          style="color: var(--theme-focused-foreground); text-decoration: none;"
          >linkedin.com/in/jonas-nicolaysen-66967611a</a
        >
      </Row>
    </Grid>
  </Card>
</Layout>
