---
interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<div class:list={["card", className]}>
  {
    title && (
      <div class="card-header">
        <span class="card-title">{title}</span>
      </div>
    )
  }
  <div class="card-content">
    <slot />
  </div>
</div>

<style>
  .card {
    position: relative;
    display: block;
    margin-bottom: 1rem;
  }

  .card-header {
    display: flex;
    align-items: center;
    box-shadow:
      inset 2px 0 0 0 var(--theme-text),
      inset 0 2px 0 0 var(--theme-text);
    padding: 8px 16px 0px 8px;
    background: var(--theme-background);
  }

  .card-title {
    font-family: var(--font-family-mono);
    font-size: 14px;
    font-weight: 400;
    color: var(--theme-text);
    text-transform: uppercase;
  }

  .card-content {
    box-shadow:
      inset 2px 0 0 0 var(--theme-text),
      inset -2px 0 0 0 var(--theme-text),
      inset 0 -2px 0 0 var(--theme-text);
    padding: 16px;
    background: var(--theme-background);
    font-family: var(--font-family-mono);
    font-size: 14px;
    line-height: 1.4;
    color: var(--theme-text);
  }
</style>
