---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["grid", className]}>
  <slot />
</div>

<style>
  .grid {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
</style>
